/* common style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font style  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Common style or utilities  */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #000;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;


}

/* Animation */


/* Banner Style */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    margin: 50px 0px 0px 0px;
    border-radius: 20px;
}

.header-description {
    width: 40%;
    padding: 80px;
}

.header-description h1 {
    font-size: 42px;
    margin: 0px;
}

.header-description p {
    color: rgb(192, 192, 192);
}

/* Button Create  */

.button,
.watch-live {
    border: none;
    border-radius: 5px;
    background-color: rgb(211, 57, 57);
    padding: 10px 24px;
}

/* main section start  */


.white-button {
    text-decoration: none;
    background-color: aliceblue;

}

.red-button {
    text-decoration: none;
    background-color: red;
    color: white;
}

/* Plyer show  grid sytem start  */
player-container {
    display: flex;
    align-items: stretch;
    height: 300px;

}

a {
    text-decoration: none;
    color: #000;
    display: inline-block;
}

li {
    list-style: none;
}

.Player-livecastarea {
    display: flex;
    justify-content: space-evenly;
    margin: 5em 0;

}

.players-1 {
    background: #161616;
    color: #fff;
    padding: 2em;
    border-radius: 7px;
    width: 312px;
    height: 312px;

}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}

.upcoming {
    background-color: white;
    width: 252px;
    height: 64px;
    padding: 10%;
    font-size: 20px;
}

.active {
    background-color: red;
    color: white;
    width: 252px;
    height: 64px;
    padding: 10%;
    font-size: 20px;
}



.player {
    width: 312px;
    height: 342px;
    border-radius: 5px solid rgb(192, 191, 191);
}

h3 {
    border: 1px solid rgb(194, 193, 193);
    width: 50%;
    padding: 5px 5px;

}

.player-image {
    width: 312px;
    height: 166px;
    border-radius: 10px 0px;
}

.player-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Plyer show  grid sytem end  */



/* Footer Start  */

footer {
    background: #000000;
    margin: 0 -9999rem;
    padding: 0.25rem 9999rem;
}

.footer-wrapper {
    margin: 0 auto;
    color: white;
    text-align: center;
}

footer a {
    color: gray;
}

hr {
    margin: 50px 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-menu {
    display: flex;
    justify-content: center;
}

.footer-menu a {
    margin: 30px;
}

.social-icon {
    margin: 0 auto;
    width: 20%;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
}

/* Footer End  */

/* Mobile view */

@media screen and (max-width : 590px) {
    header {
        flex-direction: column;
    }
}


/* Tab view */
/* Tab View */
@media only screen and (min-width : 834px) and (max-width : 1080px) {
    header {
        margin: 10px;
    }

    .header-image img {
        width: 26em;
        height: 26em;
    }

    .header-description {
        padding: 40px 0px 20px 40px;
    }

    main {
        flex-direction: column;
        margin: 0px;
        align-items: center;
        gap: 0px;
    }

    .players-1 {

        height: 80px;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
        padding: 0px;
        gap: 80px;

    }

    .Player-livecastarea {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 30px;
    }

    .footer-menu {
        flex-wrap: wrap;
    }

}